.u-section-1 {min-height: 841px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-image-1 {min-height: 841px; background-image: url("images/51e0d5424e53b108f5d084609629317e113fdce15b4c704f752e7ad29345c451_1280.jpg"); background-position: 50% 50%}
.u-section-1 .u-image-2 {min-height: 841px; background-image: url("images/introbg.jpg"); background-position: 0% 50%}
.u-section-1 .u-container-layout-2 {margin-bottom: 0}
.u-section-1 .u-group-1 {width: 669px; min-height: 503px; margin: 0 auto 0 0}
.u-section-1 .u-container-layout-3 {padding-left: 40px; padding-right: 40px}
.u-section-1 .u-text-1 {margin: 76px 0 0}
.u-section-1 .u-text-2 {font-size: 4.5rem; font-weight: 700; text-transform: uppercase; margin: 20px 0 0}
.u-section-1 .u-text-3 {font-weight: 400; font-size: 1.5rem; margin: 21px 0 0}
.u-section-1 .u-btn-1 {margin-left: 0; margin-right: 477px; font-style: normal; background-image: none; text-transform: uppercase} 

@media (max-width: 1199px){ .u-section-1 {min-height: 594px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {background-position: 49.11% 50%}
.u-section-1 .u-group-1 {width: 552px; margin-left: -78px}
.u-section-1 .u-container-layout-3 {padding-left: 38px; padding-right: 0}
.u-section-1 .u-text-2 {position: relative; font-size: 3.75rem}
.u-section-1 .u-text-3 {position: relative}
.u-section-1 .u-btn-1 {margin-right: 393px; position: relative} }

@media (max-width: 991px){ .u-section-1 {min-height: 652px}
.u-section-1 .u-image-1 {min-height: 652px; background-position: 55.65% 50%}
.u-section-1 .u-image-2 {min-height: 652px}
.u-section-1 .u-group-1 {width: 423px; min-height: 480px; margin-top: 86px; margin-bottom: 65px; margin-left: -63px}
.u-section-1 .u-container-layout-3 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-text-1 {margin-top: 50px}
.u-section-1 .u-text-2 {text-transform: none}
.u-section-1 .u-btn-1 {margin-right: 301px; margin-bottom: 50px} }

@media (max-width: 767px){ .u-section-1 {min-height: 624px}
.u-section-1 .u-image-1 {min-height: 554px; background-position: 0% 50%}
.u-section-1 .u-image-2 {min-height: 841px; background-position: 100% 50%}
.u-section-1 .u-group-1 {width: 540px; min-height: 540px; margin-top: 140px; margin-left: auto; margin-bottom: 85px}
.u-section-1 .u-container-layout-3 {padding-left: 9px; padding-right: 77px}
.u-section-1 .u-text-1 {margin-top: 55px}
.u-section-1 .u-text-3 {font-weight: 700}
.u-section-1 .u-btn-1 {margin-right: 226px; margin-bottom: 55px} }

@media (max-width: 575px){ .u-section-1 {min-height: 1067px}
.u-section-1 .u-image-1 {min-height: 443px}
.u-section-1 .u-image-2 {min-height: 624px}
.u-section-1 .u-group-1 {width: 333px; min-height: 503px; margin-top: 61px; margin-bottom: 60px}
.u-section-1 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-1 .u-text-1 {margin-top: 119px}
.u-section-1 .u-text-2 {font-size: 3rem}
.u-section-1 .u-text-3 {font-size: 1.125rem}
.u-section-1 .u-btn-1 {margin-top: 20px; margin-right: auto; margin-bottom: 50px} }.u-section-2 .u-sheet-1 {min-height: 40px}.u-section-3 {min-height: 1008px}
.u-section-3 .u-sheet-1 {min-height: 974px}
.u-section-3 .u-layout-wrap-1 {width: 1140px; margin: 167px auto 60px -8px}
.u-section-3 .u-layout-cell-1 {min-height: 636px; background-image: none}
.u-section-3 .u-container-layout-1 {padding-left: 25px; padding-right: 68px}
.u-section-3 .u-text-1 {font-size: 3.75rem; margin: 60px 0 0}
.u-section-3 .u-text-2 {font-weight: 700; margin: 25px 0 0}
.u-section-3 .u-btn-1 {background-image: none; font-style: normal; text-transform: uppercase; margin: 33px auto 60px 0}
.u-section-3 .u-layout-cell-2 {min-height: 636px; background-image: none}
.u-section-3 .u-image-1 {width: 711px; height: 711px; background-image: url("images/cellbg2.jpg"); background-position: 50% 50%; margin: -42px auto 0 -117px}
.u-section-3 .u-image-2 {width: 611px; height: 611px; background-image: url("images/38943537-0.jpeg"); background-position: 50% 50%; margin: -682px auto 8px -57px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 1008px}
.u-section-3 .u-layout-wrap-1 {width: 940px; margin-top: -111px; margin-left: 99px}
.u-section-3 .u-container-layout-1 {padding-left: 20px; padding-right: 56px}
.u-section-3 .u-text-1 {margin-top: 96px}
.u-section-3 .u-layout-cell-2 {z-index: 2}
.u-section-3 .u-image-1 {width: 575px; height: 575px; margin-top: 19px; margin-left: -88px}
.u-section-3 .u-image-2 {width: 504px; height: 504px; margin-top: -558px; margin-bottom: 66px; margin-left: -50px} }

@media (max-width: 991px){ .u-section-3 {min-height: 50vw}
.u-section-3 .u-sheet-1 {min-height: 50vw}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-layout-cell-1 {min-height: 635px}
.u-section-3 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-3 .u-text-1 {font-size: 3rem; margin-top: 75px}
.u-section-3 .u-btn-1 {margin-bottom: 0}
.u-section-3 .u-layout-cell-2 {min-height: 635px}
.u-section-3 .u-image-1 {width: 405px; height: 405px; margin-top: 74px; margin-left: -35px}
.u-section-3 .u-image-2 {width: 350px; height: 350px; margin-top: -405px; margin-bottom: 181px; margin-left: 0} }

@media (max-width: 767px){ .u-section-3 {min-height: 1699px}
.u-section-3 .u-sheet-1 {min-height: 1699px}
.u-section-3 .u-layout-cell-1 {min-height: 563px; z-index: 0}
.u-section-3 .u-container-layout-1 {padding-left: 12px; padding-right: 32px}
.u-section-3 .u-text-1 {font-size: 3.75rem; margin-top: 55px}
.u-section-3 .u-btn-1 {margin-bottom: 55px}
.u-section-3 .u-layout-cell-2 {min-height: 517px}
.u-section-3 .u-image-1 {width: 517px; height: 517px; margin-top: -30px; margin-left: 6px}
.u-section-3 .u-image-2 {width: 451px; height: 451px; margin-top: -487px; margin-left: auto; margin-bottom: 36px} }

@media (max-width: 575px){ .u-section-3 {min-height: 1464px}
.u-section-3 .u-sheet-1 {min-height: 1464px}
.u-section-3 .u-layout-wrap-1 {margin-top: 167px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 622px; z-index: auto}
.u-section-3 .u-container-layout-1 {padding-left: 7px; padding-right: 20px}
.u-section-3 .u-text-1 {font-size: 3rem}
.u-section-3 .u-btn-1 {margin-bottom: 60px}
.u-section-3 .u-layout-cell-2 {min-height: 450px}
.u-section-3 .u-image-1 {height: 340px; margin-top: 57px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-image-2 {width: 297px; height: 297px; margin-top: -324px; margin-right: 10px; margin-bottom: 50px} }.u-section-4 .u-sheet-1 {min-height: 613px}
.u-section-4 .u-layout-wrap-1 {margin: -33px auto 0 0}
.u-section-4 .u-layout-cell-1 {min-height: 684px; background-image: none}
.u-section-4 .u-image-1 {width: 596px; height: 596px; background-image: url("images/bg.jpg"); background-position: 50% 50%; margin: -30px auto 0 1px}
.u-section-4 .u-image-2 {width: 506px; height: 506px; background-image: url("images/Screen-Shot-2015-07-13-at-1.53.34-PM.png"); background-position: 50% 50%; margin: -596px 36px 0 auto}
.u-section-4 .u-layout-cell-2 {min-height: 684px; background-image: none}
.u-section-4 .u-container-layout-2 {padding-left: 25px; padding-right: 63px}
.u-section-4 .u-text-1 {margin: 96px 0 0}
.u-section-4 .u-text-2 {font-size: 3.75rem; margin: 25px 0 0}
.u-section-4 .u-text-3 {font-weight: 700; margin: 25px 0 0}
.u-section-4 .u-btn-1 {background-image: none; font-style: normal; text-transform: uppercase; margin: 33px auto 60px 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 619px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {z-index: 2}
.u-section-4 .u-image-1 {width: 491px; height: 491px; margin-top: -148px; margin-left: auto}
.u-section-4 .u-image-2 {width: 417px; height: 417px; margin-top: -473px; margin-right: 33px; margin-bottom: 367px}
.u-section-4 .u-container-layout-2 {padding-left: 20px; padding-right: 52px}
.u-section-4 .u-text-1 {position: relative} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 493px}
.u-section-4 .u-layout-wrap-1 {margin-top: -234px; margin-bottom: 130px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 627px}
.u-section-4 .u-image-1 {width: 376px; height: 376px; margin-top: 0; margin-left: 0}
.u-section-4 .u-image-2 {width: 320px; height: 320px; margin: -360px auto 261px 28px}
.u-section-4 .u-layout-cell-2 {min-height: 627px}
.u-section-4 .u-container-layout-2 {padding-left: 16px; padding-right: 0}
.u-section-4 .u-text-2 {font-size: 3rem}
.u-section-4 .u-btn-1 {margin-bottom: 0} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 1196px}
.u-section-4 .u-layout-wrap-1 {margin-top: -64px; margin-bottom: 259px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 457px; z-index: auto}
.u-section-4 .u-image-1 {width: 423px; height: 423px; margin-top: -30px}
.u-section-4 .u-image-2 {width: 360px; height: 360px; margin-top: -409px; margin-bottom: 32px; margin-left: 33px}
.u-section-4 .u-layout-cell-2 {min-height: 574px}
.u-section-4 .u-container-layout-2 {padding-left: 12px; padding-right: 30px}
.u-section-4 .u-text-1 {margin-top: 50px}
.u-section-4 .u-text-2 {font-size: 3.75rem}
.u-section-4 .u-btn-1 {margin-bottom: 50px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 100px}
.u-section-4 .u-layout-wrap-1 {margin-top: -65px; margin-bottom: -95px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 364px}
.u-section-4 .u-image-1 {height: 339px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-image-2 {width: 284px; height: 284px; margin: -329px 19px 70px auto}
.u-section-4 .u-layout-cell-2 {min-height: 618px}
.u-section-4 .u-container-layout-2 {padding-left: 7px; padding-right: 19px}
.u-section-4 .u-text-1 {margin-top: 70px}
.u-section-4 .u-text-2 {font-size: 3rem}
.u-section-4 .u-btn-1 {margin-bottom: 0} }.u-section-5 .u-image-1 {width: 196px; height: 433px; object-position: 100% 0%; background-position: 100% 0%; margin: -256px auto 0 0}
.u-section-5 .u-sheet-1 {min-height: 679px; margin: -177px auto 0}
.u-section-5 .u-layout-wrap-1 {margin: 28px auto 28px 0}
.u-section-5 .u-layout-cell-1 {min-height: 653px; background-image: none}
.u-section-5 .u-container-layout-1 {padding-left: 25px; padding-right: 63px}
.u-section-5 .u-text-1 {margin: 96px 0 0}
.u-section-5 .u-text-2 {font-size: 3.75rem; margin: 25px 0 0}
.u-section-5 .u-text-3 {font-weight: 700; margin: 25px 0 0}
.u-section-5 .u-btn-1 {background-image: none; font-style: normal; text-transform: uppercase; margin: 33px auto 60px 0}
.u-section-5 .u-layout-cell-2 {background-image: none; min-height: 653px}
.u-section-5 .u-image-2 {width: 528px; height: 528px; background-image: url("images/unnamed.jpg"); background-position: 27.24% 50%; margin: -26px auto 0}
.u-section-5 .u-image-3 {width: 256px; height: 256px; background-image: url("images/cellbg2.jpg"); background-position: 50% 50%; margin: -135px auto 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-image-1 {width: 211px; height: 523px; margin-top: -390px}
.u-section-5 .u-sheet-1 {min-height: 793px; margin-top: -133px}
.u-section-5 .u-layout-wrap-1 {margin-top: 54px; margin-bottom: 54px; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-1 {padding-left: 20px; padding-right: 52px}
.u-section-5 .u-text-1 {position: relative}
.u-section-5 .u-layout-cell-2 {min-height: 305px; background-position: 50% 50%}
.u-section-5 .u-image-2 {width: 435px; height: 435px}
.u-section-5 .u-image-3 {width: 211px; height: 211px} }

@media (max-width: 991px){ .u-section-5 .u-image-1 {width: 169px; height: 479px; margin-top: -364px}
.u-section-5 .u-sheet-1 {min-height: 726px; margin-top: -115px}
.u-section-5 .u-layout-wrap-1 {margin-top: 28px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 678px}
.u-section-5 .u-container-layout-1 {padding-left: 16px; padding-right: 40px}
.u-section-5 .u-text-2 {font-size: 3rem}
.u-section-5 .u-btn-1 {margin-bottom: 0}
.u-section-5 .u-layout-cell-2 {min-height: 678px}
.u-section-5 .u-image-2 {width: 369px; height: 369px; margin-top: -62px; margin-left: -30px}
.u-section-5 .u-image-3 {width: 162px; height: 162px; margin-top: -85px; margin-bottom: 264px} }

@media (max-width: 767px){ .u-section-5 .u-image-1 {width: 116px; height: 433px; margin-top: -256px}
.u-section-5 .u-sheet-1 {min-height: 679px; margin-top: -177px}
.u-section-5 .u-layout-wrap-1 {margin-bottom: 28px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 653px}
.u-section-5 .u-container-layout-1 {padding-left: 12px; padding-right: 30px}
.u-section-5 .u-text-2 {font-size: 3.75rem}
.u-section-5 .u-btn-1 {margin-bottom: 60px}
.u-section-5 .u-layout-cell-2 {min-height: 337px}
.u-section-5 .u-image-2 {width: 397px; height: 397px; margin-top: -109px; margin-right: 30px; margin-left: auto}
.u-section-5 .u-image-3 {width: 227px; height: 227px; margin-top: -210px; margin-bottom: 3px} }

@media (max-width: 575px){ .u-section-5 .u-image-1 {width: 97px}
.u-section-5 .u-sheet-1 {min-height: 1129px}
.u-section-5 .u-layout-wrap-1 {margin-top: 96px; margin-bottom: 96px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 698px}
.u-section-5 .u-container-layout-1 {padding-left: 7px; padding-right: 19px}
.u-section-5 .u-text-2 {font-size: 3rem}
.u-section-5 .u-layout-cell-2 {min-height: 323px; background-position: 37.5% 50%}
.u-section-5 .u-image-2 {width: 323px; height: 323px; margin-top: -30px; margin-right: auto; margin-left: 4px}
.u-section-5 .u-image-3 {width: 127px; height: 127px; margin-top: -94px; margin-bottom: -33px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 357px}
.u-section-6 .u-layout-wrap-1 {margin: 65px auto 45px 0}
.u-section-6 .u-layout-cell-1 {min-height: 227px}
.u-section-6 .u-text-1 {margin-left: 20px; margin-right: 20px; font-size: 1.25rem; font-weight: 700}
.u-section-6 .u-text-2 {margin-left: 20px; margin-right: 20px; font-style: italic}
.u-section-6 .u-layout-cell-2 {min-height: 227px; background-image: none}
.u-section-6 .u-text-3 {margin-left: 20px; margin-right: 20px; font-size: 1.25rem; font-weight: 700}
.u-section-6 .u-text-4 {margin-left: 20px; margin-right: 20px; font-style: italic}
.u-section-6 .u-layout-cell-3 {min-height: 227px; background-image: none}
.u-section-6 .u-container-layout-3 {padding-left: 16px}
.u-section-6 .u-text-5 {font-size: 1.25rem; font-weight: 700; margin: 20px 20px 0}
.u-section-6 .u-text-6 {font-style: italic; margin: 20px 20px 0}
.u-section-6 .u-layout-cell-4 {background-image: none; min-height: 227px}
.u-section-6 .u-text-7 {margin-left: 20px; margin-right: 20px; font-size: 1.25rem; font-weight: 700}
.u-section-6 .u-text-8 {margin-left: 20px; margin-right: 20px; font-style: italic}
.u-section-6 .u-layout-cell-5 {background-image: none; min-height: 227px}
.u-section-6 .u-text-9 {margin-left: 20px; margin-right: 20px; font-size: 1.25rem; font-weight: 700}
.u-section-6 .u-text-10 {margin-left: 20px; margin-right: 20px; font-style: italic} 

@media (max-width: 1199px){ .u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 259px}
.u-section-6 .u-text-1 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-6 .u-text-2 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-6 .u-layout-cell-2 {min-height: 259px}
.u-section-6 .u-text-3 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-6 .u-text-4 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-6 .u-layout-cell-3 {min-height: 259px}
.u-section-6 .u-text-5 {width: auto; margin-left: 0; margin-right: 0; position: relative}
.u-section-6 .u-text-6 {position: relative; margin-right: 16px; margin-bottom: 25px; margin-left: 0}
.u-section-6 .u-layout-cell-4 {min-height: 259px}
.u-section-6 .u-text-7 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-6 .u-text-8 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-6 .u-layout-cell-5 {min-height: 259px}
.u-section-6 .u-text-9 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-6 .u-text-10 {margin-left: 16px; margin-right: 16px; position: relative} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 290px}
.u-section-6 .u-layout-wrap-1 {margin-top: 43px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 227px}
.u-section-6 .u-text-1 {margin-left: 13px; margin-right: 13px; font-weight: 400}
.u-section-6 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-6 .u-layout-cell-2 {min-height: 227px}
.u-section-6 .u-text-3 {margin-left: 13px; margin-right: 13px; font-weight: 400}
.u-section-6 .u-text-4 {margin-left: 13px; margin-right: 13px}
.u-section-6 .u-layout-cell-3 {min-height: 227px}
.u-section-6 .u-container-layout-3 {padding-left: 10px}
.u-section-6 .u-text-5 {margin-left: 13px; margin-right: 13px; font-weight: 400; width: 684px}
.u-section-6 .u-text-6 {margin-left: 13px; margin-right: 13px; margin-bottom: 0}
.u-section-6 .u-layout-cell-4 {min-height: 227px}
.u-section-6 .u-text-7 {margin-left: 13px; margin-right: 13px; font-weight: 400}
.u-section-6 .u-text-8 {margin-left: 13px; margin-right: 13px}
.u-section-6 .u-layout-cell-5 {min-height: 227px}
.u-section-6 .u-text-9 {margin-left: 13px; margin-right: 13px; font-weight: 400}
.u-section-6 .u-text-10 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 1178px}
.u-section-6 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-text-2 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-text-3 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-text-4 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-container-layout-3 {padding-left: 8px}
.u-section-6 .u-text-5 {margin-left: 9px; margin-right: 9px; width: 514px}
.u-section-6 .u-text-6 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-text-7 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-text-8 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-text-9 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-text-10 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-6 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-2 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-3 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-4 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-container-layout-3 {padding-left: 5px}
.u-section-6 .u-text-5 {margin-left: 6px; margin-right: 6px; width: 323px}
.u-section-6 .u-text-6 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-7 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-8 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-9 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-10 {margin-left: 6px; margin-right: 6px} }.u-section-7 {background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/ScreenShot2020-09-26at5.11.58PM.png"); background-position: 50% 50%}
.u-section-7 .u-sheet-1 {min-height: 455px}
.u-section-7 .u-layout-wrap-1 {width: 906px; margin: 61px 117px 50px}
.u-section-7 .u-layout-cell-1 {min-height: 140px}
.u-section-7 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-7 .u-text-1 {margin: 0}
.u-section-7 .u-layout-cell-2 {min-height: 140px}
.u-section-7 .u-line-1 {width: 141px; height: 6px; margin: 7px auto 15px}
.u-section-7 .u-layout-cell-3 {min-height: 140px}
.u-section-7 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-7 .u-text-2 {margin: 0 0 20px} 

@media (max-width: 1199px){ .u-section-7 .u-layout-wrap-1 {width: 747px; margin-left: 96px; margin-right: 96px}
.u-section-7 .u-layout-cell-1 {min-height: 139px}
.u-section-7 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-7 .u-layout-cell-2 {min-height: 143px}
.u-section-7 .u-line-1 {width: 114px}
.u-section-7 .u-layout-cell-3 {min-height: 143px}
.u-section-7 .u-container-layout-3 {padding-left: 16px; padding-right: 16px} }

@media (max-width: 991px){ .u-section-7 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-7 .u-layout-cell-1 {min-height: 103px}
.u-section-7 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-7 .u-layout-cell-2 {min-height: 23px}
.u-section-7 .u-line-1 {transform-origin: left center 0; margin-right: 35px; margin-bottom: 20px; margin-left: 0; width: 109px}
.u-section-7 .u-layout-cell-3 {min-height: 77px}
.u-section-7 .u-container-layout-3 {padding-left: 13px; padding-right: 13px} }

@media (max-width: 767px){ .u-section-7 .u-layout-cell-1 {min-height: 117px}
.u-section-7 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-7 .u-layout-cell-2 {min-height: 27px}
.u-section-7 .u-line-1 {width: 114px; transform-origin: 57px 3px; margin: 5px auto}
.u-section-7 .u-layout-cell-3 {min-height: 89px}
.u-section-7 .u-container-layout-3 {padding-left: 9px; padding-right: 9px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 690px}
.u-section-7 .u-layout-wrap-1 {margin-bottom: 70px; width: auto; margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-1 {min-height: 184px}
.u-section-7 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-7 .u-layout-cell-2 {min-height: 43px}
.u-section-7 .u-line-1 {margin-top: 15px; margin-bottom: 15px}
.u-section-7 .u-layout-cell-3 {min-height: 113px}
.u-section-7 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-7 .u-text-2 {margin-top: 15px; margin-bottom: 15px; margin-right: initial; margin-left: initial} }